nav {
    display: block;
}
caption {
    display: table-caption;
    text-align: center;
font-style: italic;
font-size: 250%;
color: maroon;
font-weight: bold;
text-shadow: 2px 2px gold;
}

div {
  background-color: yellow;
      padding: 20px;
      display: none;
}


table, td {
   border: 10px solid maroon;
}
 td {
padding: 10px;
background-color: gold;
}

table {
width: 100%;
height: 100%;
}

tr:first-child {
 font-weight: bolder;
 text-align: center;
   text-decoration: underline;
font-size: 110%;
 }

#Lake:hover {
display : block;
background-color: blue;
}
#Lakep {
display:none;
}

#Mama:hover {
display : block;
background-color: blue;
}

#Mamap {
display:none;
}

#Spyhouse:hover {
display : block;
background-color: blue;
}

#Spyhousep {
display:none;
}

#Sva:hover {
display : block;
background-color: blue;
}

#Svap {
display:none;
}
