h1, p, ul {
    text-align: center !important;
}

#myFavTable.thead {
	text-align: center;
}
form {
  text-align: center;
}

#login{
  color: red;
}

.icon1 {
 padding-right:50px;
}

.icon2 {
  text-align: right;
}

.tableButton {
  padding: 0;
  border: none;
  background: none;
}

.password {
  visibility: hidden;
}
